@font-face {
    font-family: Arterio; 
    src: url(../resource/fonts/arteriononcommercial.regular.woff2);
   }
@font-face {
    font-family: trap; 
    src: url(../resource/fonts/Trap-Regular.woff2);
   }

body {
    font-family: trap;
}