/*************************Cover*/
section {
    background-color: #fff;
    position: relative;
}


.cover-title-text {
    font-family: trap;
    position: absolute;
    color: #fff;
    font-size: 11.30vh;
    text-transform: uppercase;
    mix-blend-mode: difference;
    top: 83.24vh;
    left: 9.9vw;
}

.cover {
    width: 100vw;
    height: 91.6vh;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 21.30vh;
    &:last-child {
        margin-bottom: 0;
    }

    .content-text {
        width: 50%;
        font-family: trap;
        font-size: 22px;
        width: 28.6vw;
        margin: auto;
    }

    .content-cover{
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: start;

        &:nth-child(even) {
            justify-content: end;
            .content-background {
                margin-right: 2.5vw;
            }
        }

        .content-background {
            width: 37.5vw;
            height: 70.37vh;
            background-color: #F1F1F1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    } 
}



  /*************************Footer*/


  .footer {
    background-color: #fff;
    height: 100vh;
    width: auto;
    position: relative;
    padding-top: 5.55vh;
  }

  .footer-title {
      font-family: trap;
      font-size: 11.30vh;
      position: absolute;
      left: 38.2vw;
      top: 5.55vh;
      z-index: 2;
      color: #fff;
      text-transform: uppercase;
      mix-blend-mode: difference;
  }

  .footer-img-back {
      background-image: url(../resource/images/footer-img-back.jpg);
      width: 75.625vw;
      height: 74vh;
      background-size: cover;
      position: absolute;
      z-index: 1;
      top: 14.8vh;
  }

  .footer-img-front {
        background-image: url(../resource/images/footer-img-front.jpg);
        width: 61.98vw;
        height: 66.1vh;
        background-size: cover;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
  }



.footer-swipe-form {
    position: absolute;
    top: 50vh;
    left: 1.46vw;
    z-index: 5;
    width: 69.4vw;
    height: 24vh;
    background-color: #B52626;
    mix-blend-mode: difference;
    border-radius: 12vh;
    position: relative;
}

.footer-swipe-btn {
    position: absolute;
    width: 24vh;
    height: 24vh;
    border-radius: 50%;
    background-color: #fff;
    top: 55.55vh;
    left: 57.46vw;
    z-index: 10;
}

.footer-swipe-btn-items {
    display: flex;
    justify-content: center;
}

.footer-swipe-btn p {
    font-family: trap;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 260px;
    text-align: center;
    color: #5A6B6F;
    padding-left: 0.52vw;
}